* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 300px;
}
h1 {
  color: white;
  margin: auto;
  text-align: center;
  margin-top: 100px;
  font-size: 58px;
  /* text-shadow: 3px 3px rgb(198, 193, 193); */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

article {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
body {
  background-image: url(kepek/park-001.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  backdrop-filter: blur(2px);
}

h1:hover {
  transform: translateX(3px);
  transform: translateY(-3px);
  text-shadow: 2px 2px rgb(198, 193, 193);
  transition: all ease-in-out 0.5s;
}

.formazottDiv,
.formTabla {
  -webkit-box-shadow: 8px 0px 0px 0px #dcd0c0, 0px 8px 0px 0px #b1938b,
    -8px 0px 0px 0px #4e4e56, 0px 0px 0px 8px #da635d,
    18px 21px 21px 8px rgba(0, 0, 0, 0.33);
  box-shadow: 8px 0px 0px 0px #dcd0c0, 0px 8px 0px 0px #b1938b,
    -8px 0px 0px 0px #4e4e56, 0px 0px 0px 8px #da635d,
    18px 21px 21px 8px rgba(0, 0, 0, 0.33);
  background: #ffffffb0;
  margin: 20px;
  padding: 15px;
  border-radius: 20%;
  font-size: 20px;
  z-index: 0;
  width: 400px;
}

.formazottDiv:hover,
.formTabla:hover {
  background-color: #ffffff;
  transition: 1s;
}

article {
  width: 97vw;
}

.tablara {
  grid-column-start: 0;
  grid-column-end: 4;
  width: 90vw;
  margin: auto;
  border-radius: 60px;
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
}

.formazottGomb {
  font-size: 15px;
  font-family: Arial;
  width: 90px;
  text-align: center;
  margin: auto;
  height: 30px;
  border-width: 1px;
  color: #fff;
  border-color: #ffffff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: inset 0px 39px 0px -24px #e67a73;
  text-shadow: inset 0px 1px 0px #b23e35;
  background: #e4685d;
}

body {
  display: grid;
  grid-template-rows: auto;
}

fieldset {
  grid-row-start: end;
  text-align: center;
  background-color: #e67b7398;
  width: 30%;
  text-align: center;
}

legend {
  background-color: #ec736d;
  padding: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  border-radius: 14px;
  color: white;
}

.submit {
  height: 40px !important;
  width: 100px;
}

.sort {
  grid-row-end: 1 !important;
  grid-column-end: 3 !important;
  width: 30px;
  height: 30px;
  border-radius: 40%;
  text-align: center;
}

th {
  text-align: center;
  padding-left: 55px;
}

button:hover,
.submit:hover {
  background-color: rgb(224, 59, 75);
  box-shadow: inset 0px 39px 0px -24px #d4554c;
  transform: translateY(-1px);
}

footer {
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 30px 0 30px 0;
  padding-top: 4px;
  height: 25px;
  background-color: #cccbcba3;
}

footer:hover {
  background-color: #ffffffb9;
  transition: 0.5s;
  color: black;
}

div img {
  width: 250px;
  height: 200px;
  border-radius: 50px;
  margin-left: 60px;
  object-fit: cover;
}

div p {
  /* margin-left: 60px; */
  text-align: center;
}

div p:nth-child(5) {
  margin-bottom: 20px;
}

div button.formazottGomb {
  margin-left: 125px;
  margin-top: 20px;
  width: 120px;
  height: 50px;
}

div h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 38px;
}

.asd {
  background-color: rgba(255, 255, 255, 0.806);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-align: center;
  position: sticky;
  transition: 2s all ease-in-out;
  right: 0;
  top: 100px;

}

.asd i {
  padding-top: 33px;
  color: rgb(249, 84, 111);
}


.kattintott {
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 0;
  transition: all 2s ease-in-out;
  margin: 20px;
  z-index: 2;
}

